extends ../layouts/layout

block content
  main
    section.modal.modal--flex
      div.popup.popup--new-publication.popup--flex
        div.new-publication
          form(action='#' method='POST')
            div.new-publication__header
              h1 Новая публикация
              div.new-publication__date-form
                h3 Дата публикации
                div.new-publication__date-form-division
                  div.new-publication__date-block
                    label(for='new-publication-date' aria-label='Календарь')
                    -
                      const date = new Date(article.createdDate);
                      const day = date.getDate();
                      const month = date.getMonth() + 1;
                      const year = date.getFullYear();
                    input#new-publication-date(type='text' name='login' placeholder='21.03.2019' value=`${day}.${month}.${year}`)
              button.new-publication__button.button.button--colored(type='submit') Опубликовать
            button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно

            div.new-publication__form.form
              div.form__wrapper.form__wrapper--intro
                div.form__field
                  label
                    input(type='text' placeholder='Заголовок' value=article.title required)
                div.form__field.form__field--post-image
                  label
                    // TODO допилить подстановку существующего изображения или найти как обрабатывать, когда изображение уже есть
                    input#image-name-field(type='text' placeholder='Фотография' readonly)
                  div.form__image-loader.form__image-loader--publication
                    label
                      input.visually-hidden(type='file')
                      | Обзор
                // TODO допилить категории публикации
                a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
              div.form__wrapper.form__wrapper--text
                div.form__field.form__field--publication-text
                  // TODO поправить верстку полям, из-за resize: none с ними сложно работать на сайте
                  label
                    textarea(rows='1' placeholder='Анонс публикации') #{article.announce}
                div.form__field.form__field--publication-text
                  label
                    textarea(rows='1' placeholder='Полный текст публикации') #{article.fullText}

      div.modal__overlay
