extends ../layouts/layout

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article in articles
          li.notes__list-item
            time.notes__item-time(datetime=article.createdDate)
              -
                const date = new Date(article.createdDate)
                const day = date.getDate()
                const month = date.getMonth() + 1
                const year = date.getFullYear()
                const hours = date.getHours()
                const minutes = date.getUTCMinutes().toString().padStart(2, `0`)
              | #{day}.#{month}.#{year}, #{hours}:#{minutes}
            a.notes__item-text(href='#') #{article.title}
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
